.cache {
    display:none;
}


/* Style de PG*/

.pg{
    background-color: black;
    height: 100vh;
    text-align: center;
}

.pg h1,h2{
    margin: 10vh 0;
    color: white;  
}

.pg #reponse{
    font-size: large;
    font-weight: bold;
    margin: 0;
    padding-top: 10%;
    color: red;
}

.pg p {
    margin: 0;
    padding-top: 10%;
    color: white;
}

.pg form{    
    height: 142px;
    width: 300px;
    margin: 200px auto 0;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 25px;
}

.pg form input {
    margin: 0 0 30px 0;
    text-align: center;
}
